@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url(/legion\ logo.jpeg);
    background-position: center;
}

.exit-cross:after {
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}
