@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url( https://c10.patreonusercontent.com/4/patreon-media/p/campaign/8575165/dfa6f71564594b76b0451c234a1b564a/eyJ3IjoxOTIwLCJ3ZSI6MX0%3D/1.jpg?token-time=1662249600&token-hash=iURo9O8DqqatFAPcTjGza6PmzFw5H4c_nCFMRZokHVY%3D);
    background-position: center;
}

.exit-cross:after {
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}
